@{
    ViewData["Title"] = "HTTPS with ASP.NET Core 2.0";
}

<h1>HTTPS with ASP.NET Core 2.0</h1>
<p>
    <a href="https://www.humankode.com/asp-net-core/develop-locally-with-https-self-signed-certificates-and-asp-net-core">View the full tutorial here</a>
</p>