body,html{font-family:Roboto,sans-serif;margin:0;padding:0}
*{text-align:center}
h1{font-weight:700;font-size:50px;margin:100px 0 0 0;color:#1851fc}
a,a:hover,a:visited{text-decoration:none;color:#000;font-weight:500}a:hover{text-decoration:underline}
